#nav1{
    padding: 10px;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.922)  ;
    background-color:rgba(0, 0, 0, 0.922);
}
#nav1 ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: ivar text ,sans-serif;

    /* padding-left:20px; */
    
}
.list{
    padding: 5px;
    border-radius: 10%;
    color: aliceblue;
    cursor: pointer;
    
    
}

#nav1 ul li{
    text-decoration: none;
}

#employee-img{
    width: 50px;
    height: 50px;
}